<li>
   {{burger_name}}
   {{#if devoured}}
   <button class="change-devoured btn btn-outline-success" data-id="{{id}}" data-devoured="{{devoured}}">
      Eat Me!
      {{else}}
      <button class="delete-burger btn btn-outline-danger" data-id="{{this.id}}">DELETE!</button>
      {{/if}}

   </button>

</li>